<div class="sidebar" data-color="purple" data-background-color="white" >
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
-->
  <div class="logo nav  d-flex justify-content-around">
    <div >
      <a href="#" class="simple-text logo-normal">
      Kategorie
      </a>
    </div>
    <div>
      <button mat-icon-button  aria-label="add category" (click)="addCategory()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="sidebar-wrapper">
    <div class="search-category-area">
      <mat-form-field class="example-full-width">
        <mat-label>Szukaj kategorie</mat-label>
        <input
          matInput
          [(ngModel)]="searchCategory" (keydown.escape)="searchCategory=''"
          (keyup)="onFilter()"
          placeholder="Nazwa kategorii">
      </mat-form-field>
    </div>
    <ul class="nav">

      <li class="nav-item" (click)="onCategoryClick()" [class.active]="selectedCategoryId===null">
        <a class="nav-link" href="#">
          <span class="all-category-title">Wszystko </span>
          <span class="uncompleted-count" *ngIf="totalUncompleted>0">{{totalUncompleted}}</span>
        </a>
      </li>
      <li>
        <div class="line d-flex justify-content-around">
          <button mat-icon-button  aria-label="add category" (click)="sorting('az')">
            <mat-icon>north</mat-icon>
          </button>
          <button mat-icon-button  aria-label="add category" (click)="sorting('za')">
            <mat-icon>south</mat-icon>
          </button>
          <button mat-icon-button  aria-label="add category" (click)="sorting('max')">
            <mat-icon>event_busy</mat-icon>
          </button>
        </div>
      </li>
      <li
        class="nav-item pointer"
        [class.active]="category.id===selectedCategoryId"
        *ngFor="let category of categories ; let index = index"
        (click)="onCategoryClick(category)"
        (mouseleave)="showEditIcon(null)"
        (mouseenter)="showEditIcon(index)"
      >
        <a class="nav-link">
          <span class="category-title">{{category.title}}</span>
          <span
            class="edit-category-icon-area"
             (click)="$event.stopPropagation(); onEdit(category)"
          >
            <mat-icon
              class="edit-category-icon"
              *ngIf="indexMouseMove===index">edit</mat-icon>
          </span>
          <span class="uncompleted-count" *ngIf="category.uncompleted>0">{{category.uncompleted}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
