<nav
 [@category]="mainState"
  >
        <app-category
          [categories]="categoriesForView"
          [selectedCategoryId]="selectedCategoryId"
          (selectCategory)="onSelectCategory($event)"
          [totalUncompleted]="totalUncompleted"
          (categoryFilter)="filterForCategory($event)"
          (eventCategory)="eventCategory($event)"

        >  </app-category>
</nav>
<main
  class="main-panel"
  [@main]="mainState"
>
    <header>
      <app-header
      (isHiddenStatEvent)="isHiddenStatEvent($event)"
      (isHiddenCatEvent)="isHiddenCatEvent()"
      ></app-header>
    </header>
    <article>
      <app-statistics
        [statusOfTasks]="statusOfTasks"
        (selectStatus)="searchStatusEvent($event)"
        [status]="searchComplete"
        [hidden]="isHiddenStat"
      ></app-statistics>
    </article>
  <article>
      <app-task
            [tasks$]="tasksEvent.asObservable()"
            [priorities]="priorities"
            (selectCategory)="onSelectCategory($event)"
            (searchTask)="searchEvent($event)"
            (taskEvent)="eventTask($event)"
            [clearTasksFilter$]="clearTasksFilter$.asObservable()"
            [searchComplete]="searchComplete"
          ></app-task>
    </article>
</main>


