.loading{
  position: absolute;
  left:50%;
  right: 50%;
  top:50%;
  bottom: 50%;
  transform: translate(50%, 50%)
}
.completed {
  text-decoration: line-through;
  color: #6c757d;
}
.without {
  color: #6c757d;
}
.col-color {
  width: 1%;
}
.col-index {
  width: 4%;
  min-width: 2rem;
}
//5+30+15
.col-name {
  width: 50%;
}

.col-date,.col-priority,.col-category {
  width: 10%;
  min-width: 90px;
}
.col-icons{
  width: 5%;
}
.not-found{
    margin:2rem auto;

    font-size: 1rem;
  }

